{
  "env": {
    // unit tests
    "test": {
      "presets": [
        "es2015"
      ]
    },
    // local development
    "development": {
      "presets": [
        [ "es2015", {"modules": false} ]
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    // release deployment
    "production": {
      "presets": [
        [ "es2015", {"modules": false} ]
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}