.camera-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}
.waypoints > button {
  background-color: rgba(255,255,255,0.9);
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  height: 30px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.1);
  transition: all ease 0.3s;
  cursor: pointer;
  margin: 0 5px 5px 0;
  padding: 0 10px;
  text-decoration: none;
  border: none;
  outline: none;
}
.waypoints > button:hover {
  background-color: rgba(255,255,255,1);
}

.btn-toggle-play {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 40px;
  height: 40px;
  background-image: url('https://spaces-static.archilogic.com/build/170920-121718-65fe40d/e3d/ui/ui-play-black.svg');
}

.btn-toggle-play.playing {
  background-image: url('https://spaces-static.archilogic.com/build/170920-121718-65fe40d/e3d/ui/ui-pause-black.svg');
}

.btn-toggle-play.playing .pause {
  display: inline;
}

.btn-toggle-play .pause{
  display: none;
}

.camera-mode > .btn {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 5px 5px 0 0;
  box-shadow: 1px 1px 2px rgba(0,0,0,.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.camera-mode > .btn.camera {
  background-image: url('https://spaces-static.archilogic.com/build/170920-121718-65fe40d/e3d/ui/icon-camera-black.svg');
}
.camera-mode > .btn.bird {
  background-image: url('https://spaces-static.archilogic.com/build/170711-151653-c61293f/e3d/ui/icon-birdview-black.svg');
}
.camera-mode > .btn.person {
  background-image: url('https://spaces-static.archilogic.com/build/170711-151653-c61293f/e3d/ui/icon-person-black.svg');
}
.camera-mode > .btn.camera.active {
  background-image: url('https://spaces-static.archilogic.com/build/170920-121718-65fe40d/e3d/ui/icon-camera-blue.svg');
}
.camera-mode > .btn.bird.active {
  background-image: url('https://spaces-static.archilogic.com/build/170711-151653-c61293f/e3d/ui/icon-birdview-blue.svg');
}
.camera-mode > .btn.person.active {
  background-image: url('https://spaces-static.archilogic.com/build/170711-151653-c61293f/e3d/ui/icon-person-blue.svg');
}
.camera-mode > .btn:hover {
  background-color: #f5f5f8;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
.hide {
  display: none;
}