body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgb(31, 37, 50);
}

#buttons {
    z-index: 100000;
    position: absolute;
    bottom: 27px;
    width: 320px;
    left: 50%;
    margin-left: -220px;
    white-space: nowrap;
    font-weight: 300;
}
#buttons a {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
    padding: 8px 10px 8px 10px;
    background-color: rgba(0,0,0,0.65);
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}