* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  height: 30px;
  font-size: 16px;
  padding: 0px 12px;
  outline: none;
  border: 0;
  font-weight: bold;
  border-bottom: 2px solid #333;
  margin: 0 10px 20px 0;
}
button {
  outline: none;
  height: 32px;
  font-size: 16px;
  padding: 7px 12px;
  border: solid 2px black;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px 20px 0;
}
button:hover {
  background: #333;
  color: white;
}

.controls {
  position: absolute;
  z-index:1000; top: 20px; left: 20px;
}

.btn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: solid 2px black;
  outline: none;
  background: transparent;
  color: black;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 15px;
  cursor: pointer;
  z-index: 1000;
}
.btn:hover {
  background: #222;
  color: white;
}